body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFF;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 550px;
}

li {
  background-color: #FFF;
  border: 1px solid #DDD;
  padding: 10px 15px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

li span {
  cursor: pointer;
}

input[type='text']  {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

button {
  background-color: rgb(0, 137, 216);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(62, 0, 148);
}

button[type="submit"] {
  background-color: orangered;
}

button[type="submit"]:hover {
  background-color: rgb(172, 0, 0);
}