button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: rgb(179, 0, 255);
    border: none;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
    color: #fff;
}

button:hover {
opacity: 1;
}

#clear-btn {
    background-color: #444;
}